<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Datos de pelicula</h1>
        <a th:href="@{/}">Regresar</a>
        
        <form th:action="@{/GuardarConcierto}"
              method="post"
              th:object="${concierto}">
            <input type="hidden" name="id" th:field="*{id}">>
            <label for="Artista">Artista:</label>
            <input type="text" name="Artista" th:field="*{Artista}"/>
            <br/>
            
            <label for="Costo">Costo:</label>
            <input type="text" name="Costo" th:field="*{Costo}"/>
            <br/>
            
            <label for="Capacidad_maxima">Capacidad:</label>
            <input type="text" name="Capacidad" th:field="*{Capacidad_maxima}"/>
            <br/>
            
            <label for="lugar">lugar:</label>
            <input type="text" name="lugar" th:field="*{lugar}"/>
            <br/>
            
            <input type="submit" name="guardar" value="Guardar">
            
        </form>
        
    </body>
</html>
